#test_main{
    width: 700px;
}
#question_sec {
    font-size: 700%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;

    /*background-color: beige;*/
    width:700px;

    border-radius: 0.2em;
}

#question_area{
    background-color:  #fde5e9;
    border-radius: 1em;
    padding: 15px;
}


#q_no {
    font-size: 200%;
}

#answer_num_sec {
    display: flex;
    margin-top: 10px;
    justify-content:space-around;
    /*width:700px*/

}

#answer_area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
    width:700px;
    align-items: flex-end;

}

#answer_display_area{
    background-color: #fde5e9;
    border-radius: 1em;
    width:300px;
    height: 150px;
}

#answer_display {

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    /*font-size: 500%;*/

}

#answer{
    font-size: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#end_comment{
    font-size: 200%;
padding-bottom: 20px;
    padding-left: 20px;
}

#end_area{
    padding-top: 20px;
    padding-left: 20px;


}

#end_button {
    font-size: 300%;
}

/*.k-answer{*/
/*    height: 50px;*/
/*    align-self: flex-end;*/
/*}*/

/*#answer_buttons{*/
/*    display: flex;*/
/*gap: 10px;*/
/*}*/

#start_button{
    font-size: 800%;
    margin: 100px;
    width: 600px;
}

#result{
    font-size: 300%;
    display: flex;
    justify-content: center;
}
